html { 
  font-family:courier new;
  background: url(https://s-media-cache-ak0.pinimg.com/originals/1f/55/74/1f5574f26e4203157ea6af3707d02960.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
}	

#left
{
float:left;
margin-left:100px;
margin-top:50px;	
text-align:center;
text-decoration:none;
color:white;
}

#right
{
float:right;
margin-right:100px;
position:relative;
font-family:courier new;
margin-top:50px;	
text-align:center;
/*display:inline-block;*/
text-decoration:none;
color:white;
}
.button
{
display:inline-block;
position:relative;
}
.button:hover
{
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}
#details
{	
position:relative;
color:white;
}
#left_detail p
{
float:left;
display:inline-block;
text-align:center;
margin-top:150px;
margin-left:-250px;
position:relative;
color:white;
}
#right_detail p
{
float:right;
margin-top:150px;
margin-right:-310px;
position:relative;
color:white;
}
#company
{
padding-left:4em;
}
a
{
text-decoration:none;
color:white;
}
#quote
{
text-align:center;
}
#bad
{
margin-left:50px;
margin-top:250px;
}
#good
{
float:right;
}

li {
list-style-type: none;  
font-size: 16pt;  
}  
.mail {  
float:left;
position:absolute;
margin-right:10px;
margin-top:200px;
width: 400px;   
}  
.mail h3 {
float:left;  
display:inline-block;
margin-left: 38px;  
}  
input {  
font-size: 20pt;  
background:transparent;	
color:white;
padding: 10px;
border: solid 1px #fff;
box-shadow: inset 1px 1px 2px 0 #707070;
}  
input:focus, textarea:focus{  
background-color: transparent;  
box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}  
input submit {  
font-size: 12pt;  
}  
.rq {  
color: #FF0000;  
font-size: 10pt;  
}  
